.popup-content {
    margin: auto !important;
    background: black !important;
    width: 60% !important;
    border: 1px solid #d7d7d7 !important;
    text-align: center !important;
    padding: 1% 1% !important;
}

.fontverylong {
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    word-break: break-all;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    padding-top: 15px;
}

input,
textarea {
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 16px;
    width: 40%;
}

input:focus,
textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

/* .btn {
    background: #eb94d0;
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
    border-radius: 28px;
    font-family: Microsoft JhengHei;
    color: chartreuse;
    padding: 10px;
    cursor: pointer;
    width: 7vw;
    margin: 2%;
}

.btn:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
    text-decoration: none;
} */

/* CSS */
.btn {
  background-color: #679dd6;
  border: 0;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 16px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.btn:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.02);
}

@media (min-width: 768px) {
  .btn {
    padding: 8px 38px;
  }
}
.styled-select select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    /*for chrome*/
}

.styled-select {
    width: 240px;
    height: 34px;
    overflow: hidden;
}

/*  
    headerRow: 'headerRowClass',
    tableRow: 'tableRowClass',
    oddTableRow: 'oddTableRowClass',
    selectedTableRow: 'selectedTableRowClass',
    hoverTableRow: 'hoverTableRowClass',
    headerCell: 'headerCellClass',
    tableCell: 'tableCellClass' 
*/

.headerRowClass {
  background: #022d4f;
}
.tableRowClass {
  background: #4491d4;
}
.oddTableRowClass {
  background: #6e8498;
}
/* .selectedTableRowClass {
  background: #4b5a69;
} */
.hoverTableRowClass {
  background: #50585e;
}
/* .headerCellClass {
  background: #23679e;
}
.tableCellClass {
  background: #817e7e;
} */